<div>
    <div class="image-container">
        <img class="slider-img" src="{{clinic.imgUrl?clinic.imgUrl:'../../../assets/Images/labSlider.png'}}" alt="">
    </div>
    <div class="hospital-container">
        <div class="first-row">
            <span class="booking-text">{{clinic.name}}, Toba Tek Singh</span>
        </div>
        <div *ngIf="clinic" class="second-row row px-3 mt-4">
            <div class="col-12 px-2">
                <div class="row">
                    <div class="info-card">
                        <div class="card-img-container col-lg-2 col-md-2 col-sm-12">
                            <img  class="card-img" src="{{clinic.imgUrl?clinic.imgUrl:'../../../assets/Images/labSlider.png'}}" alt="Card Image">
                        </div>
                        <div class="card-info-container col-lg-10 col-md-10 col-sm-12 pt-3">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="sub-info">
                                        <span class="card-name">{{clinic.name}}</span>
                                        <br>
                                        <span class="card-text">
                                            Opening hours:
                                            <span style="color: #179C8C;"> {{clinic.opening}}</span>
                                        </span>
                                        <br>
                                        <span class="card-text">
                                            Address: 
                                            <span style="color: #179C8C;">{{clinic.address}}</span>
                                        </span>
                                        <br>
                                        <br>
                                        <div class="hospital-card-button">
                                            <button routerLink="/labs/labAppointment/{{clinic.id}}" class="visit-button" >Book Appointment</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="last-content col-lg-4 col-md-4 col-sm-12">
                                    <div class="contact-container">
                                        <div>
                                            <span class="card-text">
                                                Contact:
                                                <span style="color: #179C8C;">{{clinic.contact?clinic.contact:'No contact'}}</span> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="info-card p-3">
                        <div>
                            <span class="doctors-heading">Facilities at {{clinic.name}}</span>
                            <br><br>
                            <ul class="row">
                                <li class="col-xl-2 col-lg-3 col-md-4 col-sm-6 facility-container" *ngFor="let facility of clinic.facilities">
                                    {{facility}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row  mt-2">
                    <div class="px-2 col-12">
                        <div class="third-row row p-3">
                            <div class="col-lg-10 col-md-8 col-sm-12">
                                <span class="doctors-heading">Available day&time</span>
                                <br>
                                <br>
                                <div class="card-text">
                                    <span style="color:#179C8C">Morning Time</span>
                                    <div class="activeHours" >
                                        <button class="timeblock" mat-stroked-button *ngFor="let morningT of clinic.morningActiveHours"><i class='bi bi-clock'></i><span> {{morningT}}</span></button>
                                    </div>
                                    <br><br>
                                    <span style="color:#179C8C">Evening Time</span>
                                    <div class="activeHours" >
                                        <button class="timeblock" mat-stroked-button *ngFor="let morningT of clinic.eveningActiveHours"><i class='bi bi-clock'></i><span> {{morningT}}</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-12">
                                hi
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>