<div>
  <div class="hospital-container">
    <div class="first-row">
      <span class="booking-text">Doctor Profile</span>
    </div>
    <div *ngIf="doctor" class="second-row row px-3 mt-4">
      <div class="col-12 px-2">
        <div class="row">
          <div class="info-card">
            <div class="card-img-container col-lg-2 col-md-2 col-sm-12">
              <img class="card-img" src="{{ doctor.image ? doctor.image : '../../../../../assets/navbar/blank-user.jpg' }}" alt="Card Image" />
            </div>
            <div class="card-info-container col-lg-10 col-md-10 col-sm-12 pt-3">
              <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12">
                  <div class="sub-info">
                    <span class="card-name">{{ doctor.name }}</span>
                    <br />
                    <span class="card-text">
                      <span style="color: #179c8c"> {{ doctor.field }}</span>
                    </span>
                    <br />
                    <span class="card-text">
                      Fee:
                      <span style="color: #179c8c">{{ doctor.fee }}</span>
                    </span>
                    <br />
                    <span class="card-text">
                      Experiance:
                      <span style="color: #179c8c">{{ doctor.experience }}</span>
                    </span>
                    <br />
                    <span class="card-text">
                      <span style="color: #179c8c"> {{ doctor.openingTime | date : 'shortTime' }} to {{ doctor.closingTime | date : 'shortTime' }}</span>
                    </span>
                  </div>
                  <br />
                </div>
                <div class="last-content col-lg-3 col-md-3 col-sm-12">
                  <div class="contact-container">
                    <div>
                      <span class="card-text">
                        <button *ngIf="this.selectedDate != '' && selectedTime != ''" routerLink="/doctors/doctorBooking/{{ doctor.doctorId }}/{{ bookingDateTime }}" [ngClass]="appointmentButton()">Book Appointment</button>
                        <button *ngIf="this.selectedDate === '' || selectedTime === ''" [ngClass]="appointmentButton()">Book Appointment</button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row px-3 mt-2">
      <div class="px-2 col-12">
        <div class="third-row row p-3">
          <div class="col-lg-9 col-md-8 col-sm-12">
            <div class="d-flex justify-content-between">
              <span class="time-block-heading">Select Available day & time</span>
              <span *ngIf="count == 0" class="errorValdation"> Please select date</span>
            </div>
            <br />
            <br />
            <div class="card-text">
              <!-- <span style="color:#179C8C">Morning Time</span> -->
              <div class="activeHours">
                <button (click)="getAppointmentDateTime(time)" class="timeblock" mat-stroked-button *ngFor="let time of availabilty; let i = index">
                  <i class="bi bi-clock d-pointer"></i><span> {{ time }}</span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="calender">
              <mat-calendar #calendar [dateFilter]="dateFilter" [(selected)]="selected" (selectedChange)="getDoctorAvailablity($event)"></mat-calendar>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row px-3 mt-2">
      <div class="px-2 col-12">
        <div class="third-row row p-3">
          <div class="col-12">
            <span class="card-name">About Doctor</span>
            <br />
            <br />
            <p class="about-content">
              {{ doctor.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
