.mat-mdc-menu-trigger{
    border: none !important;
    background-color: white !important;
    color: gray !important;
}
.table-body-text{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
}