<div>
    <div class="hospital-container">
        <div class="first-row">
            <span class="booking-text">{{lab.name}}</span>
        </div>
        <div *ngIf="lab" class="second-row row px-3 mt-4">
            <div class="col-12 px-2">
                <div class="row">
                    <div class="info-card">
                        <div class="card-img-container col-lg-2 col-md-2 col-sm-12">
                            <img  class="card-img" src="{{lab.image?lab.image:'../../../assets/Images/labSlider.png'}}" alt="Card Image">
                        </div>
                        <div class="card-info-container col-lg-10 col-md-10 col-sm-12 pt-3">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="sub-info">
                                        <span class="card-name">{{lab.name}}</span>
                                        <br>
                                        <span class="card-text">
                                            Opening hours:
                                            <span style="color: #179C8C;"> {{ lab.openingTime | date : 'shortTime' }} to {{ lab.closingTime | date : 'shortTime' }}</span>
                                        </span>
                                        <br>
                                        <span class="card-text">
                                            Address: 
                                            <span style="color: #179C8C;">{{lab.address}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="last-content col-lg-4 col-md-4 col-sm-12">
                                    <div class="contact-container">
                                        <div>
                                            <span class="card-text">
                                                Contact:
                                                <span style="color: #179C8C;">{{lab.phoneNumber?lab.phoneNumber:'No contact'}}</span> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row px-3 mt-2">
            <span class="card-name">Patient Details</span>
            <div class="px-2 col-12">
                <form class="third-row row p-3">
                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                        <div class="card-text">
                            <label for="patientname">Patient Full Name</label>
                            <div class="inputField">
                                <input id="patientname" placeholder="Enter Name" type="text">
                            </div>
                            <br><br>
                            <label for="patientdisease">Test Type</label>
                            <div class="inputField larger-field">
                                <div class="suggestion-container">
                                    <div *ngFor="let item of selectedSuggestion" class="suggestion">{{item.name}} <i (click)="removeSuggestion(item.id)" class="bi bi-x-circle-fill"></i></div>
                                </div>
                            </div>
                            <div class="suggestion-container">
                                <span>Suggested: </span>
                                <div (click)="selectSuggestion(item)" *ngFor="let item of suggestions" class="suggestion">{{item.name}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                        <div class="card-text">
                            <label for="patientemail">Patient Email</label>
                            <div class="inputField">
                                <input id="patientemail" placeholder="Enter Email" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                        <div class="card-text">
                            <label for="patientphone">Patient Phone No</label>
                            <div class="inputField">
                                <input id="patientphone" placeholder="Enter Phone No" type="text">
                            </div>
                            <br><br>
                            <button type="submit" class="visit-button" >
                                Confirm Appointment
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div> -->
        <div class="row mt-4">
            <div class="third-row col-12">
                <form [formGroup]="pateintForm" (keydown.enter)="EnterSubmit($event)"  class="row p-3">
                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                        <div class="card-text">
                            <label for="patientname">Patient Full Name</label>
                            <div class="inputField">
                                <input id="patientname" formControlName="patientName" placeholder="Enter Name" type="text">
                            </div>
                            <br><br>
                            <label for="patientweight">Patient Weight</label>
                            <div class="inputField">
                                <input id="patientweight" formControlName="weight" placeholder="Enter Weight" type="text">
                            </div>
                            <br><br>
                            <label for="patientdisease">Test Type</label>
                            <div class="inputField test-field">
                                <div class="suggestion-container">
                                    <div *ngFor="let item of selectedLabFacilities" class="suggestion">{{item.name}} <i (click)="removeSuggestion(item)" class="bi bi-x-circle-fill"></i></div>
                                </div>
                            </div>
                            <div class="suggestion-container">
                                <span>Suggested: </span>
                                <div (click)="selectSuggestion(item)" *ngFor="let item of labFacilities" class="suggestion">{{item.name}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                        <div class="card-text">
                            <label for="patientage">Patient Date of Birth</label>
                            <div class="inputField">
                                <input id="patientage" formControlName="dob" placeholder="Enter Age" type="date">
                            </div>
                            <br><br>
                            <label for="patientemail">Patient Email</label>
                            <div class="inputField">
                                <input id="patientemail" formControlName="email" placeholder="Enter Email" type="text">
                            </div>
                            <br><br>
                            <label for="patientdisease">Fee</label>
                            <div class="inputField">
                                <input value="{{fee}}" ng-model="myTextarea" placeholder="Enter Test Fee" id="patientdisease" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                        <div class="card-text">
                            <label for="patientgender">Gender</label>
                            <div class="inputField">
                                <input id="patientgender" formControlName="gender" placeholder="Enter Gender" type="text">
                            </div>
                            <br><br>
                            <label for="patientphone">Patient Phone No</label>
                            <div class="inputField">
                                <input id="patientphone" formControlName="phoneNo" placeholder="Enter Phone No" type="text">
                            </div>
                            <br><br>
                            <button (click)="submitAppointent()" type="submit" class="visit-button" >
                                Confirm Appointment
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>