
*{
    font-family: 'Ubuntu';
    font-style: normal;
}
.signup-content{
    height: 100vh;
}
.image-container{
    height: 100%;
}
.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.logo{
    margin-top: 50px;
    width: 100px;
    height: 100px;
}
.tittle{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #179C8C;
    margin-top: 15px;
    margin-top: 15px;
}
.input-fields{
    width: 75%;
    max-width: 500px;
}
.radio-row{
    padding: 0;
    width: 80%;
}
// .right-radio{
//     margin-left: 70px;
// }
.name-fields{
    margin-top: 50px;
    padding: 0;
}
.name-fields div{
    padding: 0;
}
.last-name{
    margin-left: 10px;
}
.label{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-left: 10px;
}
.input-field input{
    width: 100%;
    height: 50px;
    padding: 18px;
    font-size: 18px;
    border-style: none;
    background-color: #EFFCFA;
    border: 1px solid #179C8C;
    padding-left: 20px;
    margin-top: 4px;
    padding-right: 20px;
    border-radius: 40px;
    outline: none;
}
.input-field input:focus{
    border: 1px solid #107d70;
    box-shadow: 0px 3px 5px -2px #888;
}
.input-field-container{
    margin-top: 20px;
}
.login-button{
    margin-top: 30px;
    font-size: 24px;
    transition: all 0.5s ease-out;
    width: 50%;
    max-width: 328px;
    min-height: 50px !important;
    border-style: none;
    border-radius: 50px; 
    background-color: #179C8C;
    color: rgb(253, 247, 247);
}
.login-button:hover, .login-button:active{
    background-color: #f6fcfb;
    color: #179C8C;
    box-shadow: 0 4px 6px -1px gray;
    transform: scale(1.05);
}
.disabled-button{
    margin-top: 30px;
    font-size: 24px;
    transition: all 0.5s ease-out;
    width: 50%;
    max-width: 328px;
    min-height: 50px !important;
    border-style: none;
    border-radius: 50px; 
    background: #f3f3f3;
    color: #dadada
}
.login-account{
    margin-top: 18px;
}
.sign-in{
    color: #179C8C;
    cursor: pointer;
}
.spinner{
    display: inline-block;
    width: 15px !important;
    height: 15px !important;
}
.spinner::ng-deep circle {
    stroke: #fff;
  }
@media (max-width: 768px){
    .last-name{
        margin-left: 0;
    }
    }
@media (max-width: 990px){
.tittle{
    margin-left: 20px;
}
.image-container{
    display: none;
}
.signin-content{
    padding-bottom: 30px;
}
}