<div class="fluid-container mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="table-header">Appointments</div>
    </div>
  </div>
  <div class="detail-container mt-5">
    <div class="row" style="padding: 15px">
      <div class="col-4 input-field">
        <label class="label" for="text">Patient Full Name</label>
        <br />
        <input id="name" type="text" readonly />
      </div>
      <div class="col-4 input-field">
        <label class="label" for="text">Patient Date of Birth</label>
        <br />
        <input id="name" type="text" readonly />
      </div>
      <div class="col-4 input-field">
        <label class="label" for="text">Gender</label>
        <br />
        <input id="name" type="text" readonly />
      </div>
    </div>
    <div class="row" style="padding: 15px">
      <div class="col-4 input-field">
        <label class="label" for="text">Patient Weight</label>
        <br />
        <input id="name" type="text" readonly />
      </div>
      <div class="col-4 input-field">
        <label class="label" for="text">Patient E-mail</label>
        <br />
        <input id="name" type="text" readonly />
      </div>
      <div class="col-4 input-field">
        <label class="label" for="text">Patient Phone No</label>
        <br />
        <input id="name" type="text" readonly />
      </div>
    </div>
    <div class="row" style="padding: 15px">
      <div class="col-4 input-field">
        <label class="label" for="text">Doctor name</label>
        <br />
        <input id="name" type="text" readonly />
      </div>
      <div class="col-4 input-field">
        <label class="label" for="text">Appointment day</label>
        <br />
        <input id="name" type="text" readonly />
      </div>
      <div class="col-4 input-field">
        <label class="label" for="text">Appointment time </label>
        <br />
        <input id="name" type="text" readonly />
      </div>
    </div>
    <div class="row" style="padding: 15px">
      <div class="col-4 input-field">
        <label class="label" for="text">City name</label>
        <br />
        <input id="name" type="text" readonly />
      </div>
      <div class="col-8 input-field">
        <label class="label" for="text">Hospital name</label>
        <br />
        <input id="name" type="text" readonly />
      </div>
    </div>
    <div class="row" style="padding: 15px">
      <div class="col-6 input-field">
        <label class="label" for="text">Disease</label>
        <br />
        <textarea rows="10" class="about-textarea" readonly></textarea>
      </div>
      <div class="col-6 input-field">
        <label class="label" for="text">Disease in History</label>
        <br />
        <textarea rows="10" class="about-textarea" readonly></textarea>
      </div>
    </div>
    <div class="row" style="padding: 15px">
      <div style="float: right">
        <button class="Add-button" style="background-color: #179c8c; color: #fff; width: 150px" [routerLink]="['/admin/appointments']">Go Back</button>
      </div>
    </div>
  </div>
  <br />
</div>
