<div class="fluid-container mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="table-header">Hospital</div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <button class="Add-button">Add Hospital</button>
    </div>
  </div>

  <!-- Material table -->
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 mt-4" style="margin-bottom: 20px">
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef style="width: 40px" class="table-header-text"></th>
      <td mat-cell *matCellDef="let element; let i = dataIndex" class="address-text d-pointer" style="border-right: 1px solid #0000 !important">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>Edit</span>
          </button>
          <button mat-menu-item>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef style="width: 100px" class="table-header-text">Image</th>
      <td mat-cell *matCellDef="let element" class="table-body-text-order d-pointer">
        <img src="./assets/navbar/blank-user.jpg" height="60px" width="60px" class="user-image" />
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="width: 200px" class="table-header-text">Name</th>
      <td mat-cell *matCellDef="let element" class="table-body-text" style="border-right: none">District Headquarters Hospital Toba Tek Singh</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef style="width: 350px" class="table-header-text">Address</th>
      <td mat-cell *matCellDef="let element" class="table-body-text color" style="border-right: none">XF2V+QM4, Toba Tek Singh - Rajana Rd, Toba Tek Singh, Toba Tek Singh District, Punjab 36050</td>
    </ng-container>
    <ng-container matColumnDef="phoneNo">
      <th mat-header-cell *matHeaderCellDef style="width: 150px" class="table-header-text">Phone No</th>
      <td mat-cell *matCellDef="let element" class="table-body-text color">(046) 2200083</td>
    </ng-container>
    <ng-container matColumnDef="opening">
      <th mat-header-cell *matHeaderCellDef style="width: 150px" class="table-header-text">Opening</th>
      <td mat-cell *matCellDef="let element" class="table-body-text color">24 hours</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>
