<div class="fluid-container mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="table-header">Hospital</div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <button class="Add-button" (click)="AddHospitalModal(AddHospitalTriggerModel)">Add Hospital</button>
    </div>
  </div>
  <!-- Material table -->
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 mt-4" style="margin-bottom: 20px">
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef style="width: 40px" class="table-header-text"></th>
      <td mat-cell *matCellDef="let element; let i = dataIndex" class="address-text d-pointer" style="border-right: 1px solid #0000 !important">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/admin/hospitals/details/', element.hospitalId]">
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="DeleteHospitalModel(DeleteHospitalTriggerModel, element.hospitalId, i)">
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef style="width: 100px" class="table-header-text">Image</th>
      <td mat-cell *matCellDef="let element" class="table-body-text-order d-pointer">
        <img src="{{ element.image }}" height="60px" width="60px" class="user-image" />
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="width: 200px" class="table-header-text">Name</th>
      <td mat-cell *matCellDef="let element" class="table-body-text d-pointer" style="border-right: none" [routerLink]="['/admin/hospitals/details/', element.hospitalId]">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef style="width: 350px" class="table-header-text">Address</th>
      <td mat-cell *matCellDef="let element" class="table-body-text color d-pointer" style="border-right: none" [routerLink]="['/admin/hospitals/details/', element.hospitalId]">{{ element.address }}</td>
    </ng-container>
    <ng-container matColumnDef="phoneNo">
      <th mat-header-cell *matHeaderCellDef style="width: 150px" class="table-header-text">Phone No</th>
      <td mat-cell *matCellDef="let element" class="table-body-text color">{{ element.phoneNumber }}</td>
    </ng-container>
    <ng-container matColumnDef="opening">
      <th mat-header-cell *matHeaderCellDef style="width: 150px" class="table-header-text">Opening</th>
      <td mat-cell *matCellDef="let element" class="table-body-text color">{{ element.hours }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>
<ng-template #AddHospitalTriggerModel let-modal>
  <div class="admin-modal" style="min-height: 410px; background-color: #fff">
    <input style="display: none" name="profile" type="file" (change)="onUpdateCoverImage($event)" #image />
    <div class="d-pointer" style="position: relative"></div>
    <img src="./assets/admin/cover-img.png" style="position: relative" class="model-image mt-1" width="100%" height="200px" *ngIf="coverImageURL.length == 0" />
    <span *ngFor="let image of coverImageURL"><img src="{{ image }}" style="position: relative" class="model-image mt-1" width="100%" height="200px" *ngIf="coverImageURL.length != 0" /></span>
    <div style="margin-top: -150px; margin-left: 45%">
      <div class="add-logo" *ngIf="coverImageURL.length == 0">
        <img src="./assets/admin/select-img.png" style="position: relative" class="model-image mt-1" width="100%" />
      </div>
      <div class="add-logo-text" *ngIf="coverImageURL.length == 0">
        <img src="./assets/admin/add-cover-text.png" style="position: relative" class="model-image mt-1" width="100%" />
      </div>
      <div class="project-name">
        <img src="./assets/admin/logo-text.png" style="position: relative" class="model-image mt-1" width="100%" />
      </div>
      <div class="camera-icon d-pointer" (click)="image.click()">
        <span class="material-icons d-pointer" style="margin-top: 4px; margin-left: 4px; font-size: 20px"> photo_camera </span>
      </div>
    </div>
    <!-- Form data -->
    <form [formGroup]="AddHospitalForm" (ngSubmit)="onSubmitAddHospital()" novalidate autocomplete="off">
      <div class="form-container" style="margin-top: 180px">
        <span style="color: red" *ngIf="errorMessage !== ''">{{ errorMessage }}</span>
        <div class="row">
          <div class="col-9 input-field">
            <label class="label" for="text">Name</label>
            <br />
            <input placeholder="Add hospitals name" id="name" formControlName="name" type="text" />

            <label class="label mt-3" for="text">Address</label>
            <br />
            <input placeholder="Add hospital address" id="name" formControlName="address" type="text" />
            <div class="row">
              <div class="col-6">
                <label class="label mt-3" for="text">Phone No</label>
                <br />
                <input placeholder="Add phone number" id="name" formControlName="phoneNumber" type="text" />
              </div>
              <div class="col-6">
                <label class="label mt-3" for="text">City</label>
                <br />
                <select formControlName="cityId" class="form-select rounded-pill mt-1" aria-label="Disabled select example">
                  <option [value]="city.cityId" selected class="dropdown-option" *ngFor="let city of cities">{{ city.name }}</option>
                </select>
              </div>
              <!-- <div class="col-6">
                <label class="label mt-3" for="text">Reception E-mail</label>
                <br />
                <input placeholder="Add e-mail" id="name" formControlName="name" type="text" />
              </div>
              <div class="col-6">
                <label class="label mt-3" for="text">Password</label>
                <br />
                <input placeholder="Add password" id="name" formControlName="name" type="text" />
              </div> -->
            </div>
            <div class="row">
              <div class="col-6 input-field mt-4">
                <label class="label" for="text">Opening Day</label>
                <br />
                <div class="mt-3">
                  <span class="day-name">Sun</span>
                  <span class="day-name">Mon</span>
                  <span class="day-name">Tue</span>
                  <span class="day-name">Wed</span>
                  <span class="day-name">Thu</span>
                  <span class="day-name" style="margin-left: 13px">Fri</span>
                  <span class="day-name" style="margin-left: 15px">Sat</span>
                </div>
                <section class="example-section">
                  <mat-checkbox class="example-margin" formControlName="sun"></mat-checkbox>
                  <mat-checkbox class="example-margin" formControlName="mon"></mat-checkbox>
                  <mat-checkbox class="example-margin" formControlName="tus"></mat-checkbox>
                  <mat-checkbox class="example-margin" formControlName="wed"></mat-checkbox>
                  <mat-checkbox class="example-margin" formControlName="thur"></mat-checkbox>
                  <mat-checkbox class="example-margin" formControlName="fri"></mat-checkbox>
                  <mat-checkbox class="example-margin" formControlName="sat"></mat-checkbox>
                </section>
              </div>
              <div class="col-6 input-field-small mt-4">
                <label class="label" for="text">Opening Time</label>
                <br />
                <div class="row mt-3">
                  <div class="col-6">
                    <div class="label-time">Start Time</div>
                    <input type="time" id="appt" name="appt" formControlName="openingTime" />
                  </div>
                  <div class="col-6">
                    <div class="label-time">End Time</div>
                    <input type="time" id="appt" name="appt" formControlName="closingTime" />
                  </div>
                </div>
                <div class="errorValdation text-center" *ngIf="dateErrorMessage != ''">
                  {{ dateErrorMessage }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="input-field" style="float: right; margin-right: 20px">
              <label class="label" for="text">Image</label>
              <br />
              <input style="display: none" name="profile" type="file" (change)="onUpdateUserImage($event)" #userimage />
              <div class="d-pointer" style="position: relative"></div>
              <img src="https://static.marham.pk/assets/images/hospital-default.jpg" style="position: relative" class="model-image1 mt-1" height="150px" width="150px" *ngIf="hospitalImageURL.length == 0" />
              <span *ngFor="let image of hospitalImageURL"><img src="{{ image }}" style="position: relative" class="model-image1 mt-1" height="150px" width="150px" *ngIf="hospitalImageURL.length != 0" /></span>
              <div class="camera-icon1" (click)="userimage.click()">
                <span class="material-icons" style="margin-top: 4px; margin-left: 4px; font-size: 20px"> photo_camera </span>
              </div>
            </div>
          </div>
          <div class="d-flex" style="margin-left: 75%; margin-top: 20px">
            <button type="button" (click)="CancelPopUp()" class="Add-button">Cancel</button>
            <button type="button" class="Add-button" style="background-color: gray; color: #fff; margin-left: 10px" *ngIf="!AddHospitalForm.valid">Save</button>
            <button type="submit" class="Add-button" style="background-color: #179c8c; color: #fff; margin-left: 10px" *ngIf="AddHospitalForm.valid && !addHospitalLoading">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #DeleteHospitalTriggerModel let-modal>
  <div class="modal-body" style="min-height: 200px; background: #fff">
    <h1 class="modal-title">Please confirm..</h1>
    <h5>Are you sure that you want to remove this Hospital ?</h5>
    <div class="errorValdation text-center" *ngIf="dltErrorMessages != ''">
      {{ dltErrorMessages }}
    </div>
    <div class="errorValdation text-center" *ngIf="dltErrorMessages == ''">
      <span style="color: white">.</span>
    </div>
    <div class="d-flex justify-content-end mt-5">
      <button type="button" class="delete-confirmation-btn cursor-pointer" (click)="CancelPopUp()" *ngIf="dltErrorMessages != ''">OK</button>
      <button type="button" class="cancel-confirmation-btn cursor-pointer" style="border: none !important" (click)="CancelPopUp()" *ngIf="dltErrorMessages == ''">Cancel</button>
      <button class="delete-confirmation-btn cursor-pointer" (click)="DeleteHospital()" *ngIf="deleteLoading != true && dltErrorMessages == ''">Confirm</button>
      <button type="button" class="delete-confirmation-btn" *ngIf="deleteLoading">
        Wait
        <i class="fa fa-spinner fa-spin"></i>
      </button>
    </div>
  </div>
</ng-template>
