*{ -ms-overflow-style: none; }
*::-webkit-scrollbar { width: 0 !important }
.image-container{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.slider-img{
 width: 100%;
 height: 600px;
}
.hospital-container{
    margin-left: 10%;
    margin-right: 10%;
}
.first-row{
    position: relative;
    margin-top: 40px;
    height: 50px;
}
.booking-text{
    display: inline-block;
    position: absolute;
    line-height: 37px;
    font-weight: 500;
    font-size: 18px;
    left: 5px;
}
.second-row{
    width: 100%;
    overflow: scroll;
}
.info-card{
    border: 1px solid #179C8C;
    background-color: white;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    height: max-content;
    min-height: max-content;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-img-container{
    display: inline-block;
    position: absolute;
    height: 100%;
    left: 0;
}
.card-img{
    width: 100%;
    height: 100%;
}
.card-info-container{
    left: 16%;
    margin-bottom: 8px;
    height: 100%;
    font-size: 12px;
    line-height: 30px;
    padding-left: 20px;
    position: relative;
    display: inline-block;
}
.card-name{
    font-size: 18px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card-text{
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 16px;
    font-weight: 500;
}
.hospital-card-contact{
    color: #179C8C;
    font-weight: 500;
}
.hospital-card-contact{
    white-space: wrap;
}
.last-content {
    height: 200px;
    display: inline-block;
}
.contact-container{
    height: inherit;
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    justify-content: center;
    border-left: 1.5px solid #179C8C;
}
.facility-container{
    padding-right: 17px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 500;
    word-wrap: break-word;
}
.hospital-card-button{
    height: max-content;
}
.hospital-card-button2{
    display:none;
}
.visit-button{
    border: none;
    font-size: 15px;
    transition: all 0.5s ease-out;
    width: 200px;
    height: 50px;
    left: 10px;
    border-radius: 50px;
    background-color: #179C8C;
    color: white; 
}
.visit-button:hover, .visit-button:active{
    color: #179C8C;
    background-color: white;
}
.visit-button:hover{
    box-shadow: 0 4px 6px -1px gray;
    transform: scale(1.05);
}
//third row
.third-row{
    border: 1px solid #179C8C;
    background-color: white;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    height: max-content;
    min-height: max-content;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.activeHours{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
}
.timeblock{
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    border: 2px solid #179C8C;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    height: 40px;
    padding: 5px;
    font-size: 12px;
}
.doctor-row{
    padding: 0;
}
.doctors-heading{
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 5px;
    min-height: fit-content;
    white-space: wrap;
    overflow: hidden;
}
.doctor-info-card{
    border: 1px solid #179C8C;
    background-color: white;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    height: 220px;
    margin: 10px 15px 10px 0;
    transition: all 0.5s ease-out;
    cursor: pointer;
}
.doctor-info-card:hover{
    box-shadow: 0 4px 6px -1px gray;
    transform: scale(1.05);
}
.doctor-card-img-container{
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 40%;
    left: 0;
}
.doctor-card-info-container{
    right: 0; 
    width: 60%;
    height: 100%;
    font-size: 12px;
    line-height: 30px;
    padding-left: 20px;
    position: absolute;
    display: inline-block;
}
.doctor-card-name{
    font-size: 18px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.card-specialization{
    font-size: 12px;
    line-height: 16px;
    color: #179C8C;
}
.card-fee, .card-experience, .card-availability{
    color: #179C8C;
    font-weight: 500;
}
.card-availability{
    position: absolute;
    right: 10px;
    bottom: 20px;
}
@media (max-width: 768px){
    .doctor-info-card{
        margin: 10px 0px 10px 0;
    }
    .image-container{
        display: none !important;
    }
    .info-card{
        height: max-content;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .card-img-container{
        display: block;
        height: 200px;
        width: 100%;
        position:relative;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        overflow: hidden;
        margin-top: 13px;
    }
    .hospital-container{
        margin-left: 5px;
        margin-right: 5px;
    }
    .card-info-container{
        display: block;
        position:relative;
        left:2%;
    }
    .contact-container{
        height: inherit;
        display: flex;
        padding-left: 5px;
        flex-direction: column;
        justify-content: center;
        border-left:none;
    }
    .last-content {
        height: inherit;
        display: inline-block;
    }
    .hospital-card-button{
        display:none;
    }
    .hospital-card-button2{
        display:flex;
        align-items: center;
    }
}