.sidebar{
    height: 100%;
    width: 300px;
  box-shadow: 8px 0 5px -2px #888;
}
.sidebarLogo{
    padding: 15px;
    width: 100%;
    height: 150px;
}
.sidebar-item{
    display: flex;
    flex-direction: row;
}
.sidebar-icon{
    width: 20px;
    height: 20px;
    color: #888;
}