<!-- /dashboard/sharedList/Item/ -->
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-sidebar border-right" id="sidebar-wrapper">
    <div class="d-flex" style="padding: 20px">
      <img src="./assets/navbar/adminLogo.png" height="80px" width="200px" />
    </div>
    <br />
    <div class="list-group list-group-flush">
    
      <div [routerLink]="['/admin/doctors']" [routerLinkActive]="['boxclass']" class="item-sidebar list-group-item list-group-item-action d-pointer">
        <div class="d-flex">
          <span class="material-icons"> work_outline </span>
          <span class="title-m-l" [routerLink]="['/admin/doctors']" [routerLinkActive]="['boxclass1']">Doctors</span>
        </div>
      </div>
      <div [routerLink]="['/admin/patients']" [routerLinkActive]="['boxclass']" class="item-sidebar list-group-item list-group-item-action d-pointer">
        <div class="d-flex">
          <span class="material-icons"> account_circle </span>
          <span class="title-m-l" [routerLink]="['/admin/patients']" [routerLinkActive]="['boxclass1']">Users</span>
        </div>
      </div>
      <div [routerLink]="['/admin/appointments']" [routerLinkActive]="['boxclass']" class="item-sidebar list-group-item list-group-item-action d-pointer">
        <div class="d-flex">
          <i class="bi bi-person-vcard-fill icons"></i>
          <span class="title-m-l" style="margin-top: 0px" [routerLink]="['/admin/appointments']" [routerLinkActive]="['boxclass1']">Appointments</span>
        </div>
      </div>
      <div [routerLink]="['/admin/hospitals']" [routerLinkActive]="['boxclass']" class="item-sidebar list-group-item list-group-item-action d-pointer">
        <div class="d-flex">
          <i class="bi bi-hospital-fill icons"></i>
          <span class="title-m-l" style="margin-top: 0px" [routerLink]="['/admin/hospitals']" [routerLinkActive]="['boxclass1']">Hospitals</span>
        </div>
      </div>

      <div [routerLink]="['/admin/clinics']" [routerLinkActive]="['boxclass']" class="item-sidebar list-group-item list-group-item-action d-pointer">
        <div class="d-flex">
          <i class="bi bi-search-heart icons"></i>
          <span class="title-m-l" style="margin-top: 0px" [routerLink]="['/admin/clinics']" [routerLinkActive]="['boxclass1']">Clinics</span>
        </div>
      </div>
      <div [routerLink]="['/admin/labs']" [routerLinkActive]="['boxclass']" class="item-sidebar list-group-item list-group-item-action d-pointer">
        <div class="d-flex">
          <i class="bi bi-prescription2 icons"></i>
          <span class="title-m-l" style="margin-top: 0px" [routerLink]="['/admin/labs']" [routerLinkActive]="['boxclass1']">Labs</span>
        </div>
      </div>
      <div [routerLink]="['/admin/cities']" [routerLinkActive]="['boxclass']" class="item-sidebar list-group-item list-group-item-action d-pointer">
        <div class="d-flex">
          <i class="bi bi-pin-map-fill icons"></i>
          <span class="title-m-l" style="margin-top: 0px" [routerLink]="['/admin/cities']" [routerLinkActive]="['boxclass1']">Cities</span>
        </div>
      </div>
      <br /><br /><br />
      <div class="item-sidebar list-group-item list-group-item-action d-pointer">
        <div class="d-flex d-pointer" (click)="Logout()">
          <span class="material-icons"> logout </span>
          <span class="title-m-l" style="margin-top: -1px">Log Out</span>
        </div>
      </div>
      <br />
    </div>
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="offset-lg-3 col-lg-9 offset-md-4 col-md-8">
        <div style="margin-left: -80px">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
