<div>
    <div class="hospital-container">
        <div class="first-row">
            <span class="booking-text">{{hospital.name}}</span>
        </div>
        <div *ngIf="hospital" class="second-row row px-3 mt-4">
            <div class="col-12 px-2">
                <div class="row">
                    <div class="info-card">
                        <div class="card-img-container col-lg-2 col-md-2 col-sm-12">
                            <img  class="card-img" src="{{hospital.image?hospital.image:'../../../assets/Images/clinicSlider.png'}}" alt="Card Image">
                        </div>
                        <div class="card-info-container col-lg-10 col-md-10 col-sm-12 pt-3">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-12">
                                    <div class="sub-info">
                                        <span class="card-name">{{hospital.name}}</span>
                                        <br>
                                        <span class="card-text">
                                            Opening hours:
                                            <span style="color: #179C8C;"> {{ hospital.openingTime | date : 'shortTime' }} to {{ hospital.closingTime | date : 'shortTime' }}</span>
                                        </span>
                                        <br>
                                        <span class="card-text">
                                            Address: 
                                            <span style="color: #179C8C;">{{hospital.address}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="last-content col-lg-4 col-md-4 col-sm-12">
                                    <div class="contact-container">
                                        <div>
                                            <span class="card-text">
                                                Contact:
                                                <span style="color: #179C8C;">{{hospital.phoneNumber?hospital.phoneNumber:'No contact'}}</span> 
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row px-3 mt-2">
                    <div class="px-2 col-12">
                        <div class="third-row row p-3">
                            <div class="col-lg-9 col-md-8 col-sm-12">
                                <span class="time-block-heading">Select Available day&time</span>
                                <br>
                                <br>
                                <div class="card-text">
                                    <div *ngIf="radiologyTime.length!==0" class="activeHours" >
                                        <button (click)="selectedTime = time" class="timeblock" mat-stroked-button *ngFor="let time of radiologyTime"><i class='bi bi-clock'></i><span> {{time}}</span></button>
                                    </div>
                                    <div *ngIf="paramedicalTime.length!==0" class="activeHours" >
                                        <button (click)="selectedTime = time" class="timeblock" mat-stroked-button *ngFor="let time of paramedicalTime"><i class='bi bi-clock'></i><span> {{time}}</span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-12">
                                hi
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="third-row col-12">
                        <form [formGroup]="pateintForm" (keydown.enter)="EnterSubmit($event)"  class="row p-3">
                            <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                                <div class="card-text">
                                    <label for="patientname">Patient Full Name</label>
                                    <div class="inputField">
                                        <input id="patientname" formControlName="patientName" placeholder="Enter Name" type="text">
                                    </div>
                                    <br><br>
                                    <label for="patientweight">Patient Weight</label>
                                    <div class="inputField">
                                        <input id="patientweight" formControlName="weight" placeholder="Enter Weight" type="text">
                                    </div>
                                    <br><br>
                                    <label for="patientdisease">Test Type</label>
                                    <div class="inputField test-field">
                                        <div *ngIf="selectedRadiology.length!==0" class="suggestion-container">
                                            <div *ngFor="let item of selectedRadiology" class="suggestion">{{item.name}} <i (click)="removeSuggestion(item)" class="bi bi-x-circle-fill"></i></div>
                                        </div>
                                        <div *ngIf="selectedParamedical.length!==0" class="suggestion-container">
                                            <div *ngFor="let item of selectedParamedical" class="suggestion">{{item.name}} {{selectedParamedical.length}}<i (click)="removeSuggestion(item)" class="bi bi-x-circle-fill"></i></div>
                                        </div>
                                    </div>
                                    <div *ngIf="radiology.length!==0" class="suggestion-container">
                                        <span>Suggested: </span>
                                        <div (click)="selectSuggestion(item)" *ngFor="let item of radiology" class="suggestion">{{item.name}}</div>
                                    </div>
                                    <div *ngIf="paramedical.length!==0" class="suggestion-container">
                                        <span>Suggested: </span>
                                        <div (click)="selectSuggestion(item)" *ngFor="let item of paramedical" class="suggestion">{{item.name}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                                <div class="card-text">
                                    <label for="patientage">Patient Date of Birth</label>
                                    <div class="inputField">
                                        <input id="patientage" formControlName="dob" placeholder="Enter Age" type="date">
                                    </div>
                                    <br><br>
                                    <label for="patientemail">Patient Email</label>
                                    <div class="inputField">
                                        <input id="patientemail" formControlName="email" placeholder="Enter Email" type="text">
                                    </div>
                                    <br><br>
                                    <label for="patientdisease">Fee</label>
                                    <div class="inputField">
                                        <input value="{{fee}}" ng-model="myTextarea" placeholder="Enter Test Fee" id="patientdisease" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                                <div class="card-text">
                                    <label for="patientgender">Gender</label>
                                    <div class="inputField">
                                        <input id="patientgender" formControlName="gender" placeholder="Enter Gender" type="text">
                                    </div>
                                    <br><br>
                                    <label for="patientphone">Patient Phone No</label>
                                    <div class="inputField">
                                        <input id="patientphone" formControlName="phoneNo" placeholder="Enter Phone No" type="text">
                                    </div>
                                    <br><br>
                                    <button (click)="submitAppointent()" type="submit" class="visit-button" >
                                        Confirm Appointment
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    </div>
</div>