*{
    font-family: 'Ubuntu';
    font-style: normal;
}
.signin-content{
    height: 100vh;
}
.image-container{
    height: 100%;
}
.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
}
.logo{
    margin-top: 30px;
    width: 100px;
    height: 100px;
}
.tittle{
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #179C8C;
    margin-top: 15px;
}
.welcome-text{
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    color: #179C8C;
    margin-top: 25px;
}
.input-fields{
    width: 70%;
    max-width: 400px;
    margin-top: 30px;
}
.label{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-left: 20px;
}
.input-field input{
    width: 100%;
    height: 50px;
    padding: 18px;
    font-size: 20px;
    border-style: none;
    background: #EFFCFA;
    border: 1px solid #179C8C;
    padding-left: 20px;
    margin-top: 4px;
    padding-right: 20px;
    border-radius: 40px;
    outline: none;
}
.input-field input:focus{
    border: 1px solid #107d70;
    box-shadow: 0px 3px 5px -2px #888;
}
.password-field{
    margin-top: 20px;
}
.login-button{
    margin-top: 30px;
    font-size: 24px;
    transition: all 0.5s ease-out;
    width: 50%;
    max-width: 328px;
    height: 50px;
    border-style: none;
    border-radius: 50px; 
    background-color: #179C8C;
    color: rgb(253, 247, 247);
}
.disabled-button{
    margin-top: 30px;
    font-size: 24px;
    transition: all 0.5s ease-out;
    width: 50%;
    max-width: 328px;
    height: 50px;
    border-style: none;
    border-radius: 50px; 
    cursor: not-allowed;
    background: #f3f3f3;
    color: #dadada
}
.login-button:hover, .login-button:active{
    background-color: #f6fcfb;
    color: #179C8C;
    box-shadow: 0 4px 6px -1px gray;
    transform: scale(1.05);
}
.spinner{
    display: inline-block;
    width: 15px !important;
    height: 15px !important;
}
.spinner::ng-deep circle {
    stroke: #fff;
  }
.create-account{
    margin-top: 18px;
}
.sign-up{
    color: #179C8C;
    cursor: pointer;
}
.modal-header, .modal-body, .modal-footer{
    border: 0;
}
.modal-title{
    font-size: 18px;
    color: #179C8C;
}
.close{
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    cursor: pointer;
    outline: none;
    border: 1px solid #179C8C;
    border-radius: 50px;
    font-size: 18px;
}
.close:hover{
    color: #ffffff;
    background-color: #179C8C;
}
.content-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.heading{
    font-size: 19px;
    font-weight: 500;
    color: #179C8C;
}
.dropdown-container{
    margin-top: 20px;
    width: 100%;  
}
.dropdown-field{
    width: 90%;
    height: 50px;
    border: 1px solid #179C8C; 
    border-radius: 50px;
    padding: 15px 20px 10px 20px;
    appearance: none;
    outline: none;
}
.next-button{
    border: 1px solid #179C8C;   
}
.next-button:hover{
    color: #ffffff;
    background-color: #179C8C; 
}
.disabled-next{
    cursor: not-allowed;
    background: #f3f3f3;
    color: #dadada
}


   .dropdown {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .dropdown-content {
    z-index: 9;
    margin-top: 50px;
    position: absolute;
    width: 80%;
    overflow: auto;
    background-color: #fffdfd;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown-content div {
    padding: 5px;
    cursor: pointer;
  }
  .dropdown-content div:hover {
    background-color: #D9D9D9;
  }
@media (max-width: 990px){
.image-container{
    display: none;
}
.signin-content{
    padding-bottom: 30px;
}
}