.containar-box{
    background-color: #EFFCFA;
    height: 100%;
    width: 104%;
    margin-left: -2%;
}
//cover image style
.cover-image-container{
    width: 100%;
    margin-left: 0px;
    margin-top: -4px;
}
.add-logo{
    position: absolute;
    
}
.add-logo-text{
    position: absolute;
    margin-top: 57px;
    margin-left: -51px;
}
.project-name{
    position: absolute;
    margin-left: 15%;
}
.camera-icon{
    height: 30px;
    width: 30px;
    background-color: white;
    position: absolute;
    float: right;
    margin-left: 530px;
    margin-top: 109px;
    border-radius: 50px;
    border: 1px solid #179C8C;
}
//inner container style
.inner-container{
    margin-top: 150px;
    padding: 20px 50px 50px 50px;

}
.header{
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;

}
.hospital-container{
    height: 170px;
    border-radius: 10px;
    border: 1px solid #179C8C;
    background-color: #fff;
}
.hospital-container1{
    min-height: 170px;
    border-radius: 10px;
    border: 1px solid #179C8C;
    background-color: #fff;
}
.hospital-img{
    border-radius: 10px 0px 0px 10px;
    margin-top: 0px !important;
}
.hospital-name{
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}
.text-container{
    padding: 10px 10px 10px 0px;
}
.hospital-address{
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}
.hospital-address-bold{
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #179C8C;
}

.profection{
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 5px;    
}
.nav-pills .nav-link.active{
    background-color: #179C8C;
    border-radius: 50px;
    min-width: 200px;
    color: #ffffff;
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    height: 40px;
}
.nav-pills .nav-link{
    background-color: #ffffff;
    border-radius: 50px;
    min-width: 200px;
    color: #000000;
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    height: 40px;
    border: 1px solid #179C8C;
}
.nav-item{
    margin-left: 5px;
}
// popup design
.camera-icon1{
    height: 30px;
    width: 30px;
    background-color: white;
    position: absolute;
    float: right;
    margin-left: 100px;
    margin-top: -42px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #179C8C;
}
.input-field input{
    height: 40px;
    padding: 18px;
    font-size: 20px;
    border-style: none;
    background: #FFFFFF;
    border: 1px solid #179C8C;
    padding-left: 20px;
    margin-top: 4px;
    padding-right: 20px;
    border-radius: 40px;
    outline: none;
    width: 98%;
}

.input-field label{
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}
.label-time{
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}
.form-select{
    border: 1px solid #179C8C; 
    height: 40px;
    width: 98%;
}
.model-image1{
    border: 1px solid #179C8C;
    border-radius: 10px;
}
.day-name{
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 10px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #179C8C !important;
}
.about-textarea{
    border-radius: 10px;
    border: 1px solid #179C8C;
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}