<div class="containar-box">
  <div class="cover-image-container">
    <input style="display: none" name="profile" type="file" (change)="onUpdateCoverImage($event)" #image />
    <div class="d-pointer" style="position: relative"></div>
    <img src="{{ lab.coverImage }}" style="position: relative" class="model-image mt-1" width="100%" height="200px" *ngIf="coverImageURL.length == 0" />
    <span *ngFor="let image of coverImageURL"><img src="{{ image }}" style="position: relative" class="model-image mt-1" width="100%" height="200px" *ngIf="coverImageURL.length != 0" /></span>
    <div style="margin-top: -150px; margin-left: 45%">
      <div class="add-logo" *ngIf="coverImageURL.length == 0">
        <img src="./assets/admin/select-img.png" style="position: relative" class="model-image mt-1" width="100%" />
      </div>
      <div class="add-logo-text" *ngIf="coverImageURL.length == 0">
        <img src="./assets/admin/add-cover-text.png" style="position: relative" class="model-image mt-1" width="100%" />
      </div>
      <div class="project-name">
        <img src="./assets/admin/logo-text.png" style="position: relative" class="model-image mt-1" width="100%" />
      </div>
      <div class="camera-icon d-pointer" (click)="image.click()">
        <i class="fa fa-spinner fa-spin" style="margin-top: 4px; margin-left: 4px; font-size: 20px" *ngIf="addLoading"></i>
        <span class="material-icons d-pointer" style="margin-top: 4px; margin-left: 4px; font-size: 20px" *ngIf="!addLoading"> photo_camera </span>
      </div>
    </div>
  </div>
  <div class="inner-container">
    <p class="header">{{ lab.name }}</p>
    <div class="hospital-container">
      <div class="row">
        <div style="width: 20%">
          <img src="{{ lab.image }}" class="hospital-img mt-1" height="168px" width="100%" />
        </div>
        <div class="text-container" style="width: 60%">
          <p class="hospital-name">{{ lab.name }}</p>
          <div class="d-flex mt-3">
            <span class="hospital-address">Address:&nbsp;</span>
            <span class="hospital-address-bold mt-1"> {{ lab.address }} </span>
          </div>
          <div class="d-flex mt-3">
            <span class="hospital-address">Opening Time:&nbsp;</span>
            <span class="hospital-address-bold mt-1"> {{ lab.openingTime | date : 'h:mm a' }} to {{ lab.closingTime | date : 'h:mm a' }}</span>
          </div>
        </div>
        <div style="width: 20%; padding: 10px">
          <div class="row">
            <div class="col-1">
              <img src="./assets/admin/line.png" />
            </div>
            <div class="col-10 mt-5">
              <span class="hospital-address"
                >Phone No:<span class="hospital-address-bold">{{ lab.phoneNumber }}</span>
              </span>
              <br />
              <span class="material-icons d-pointer" style="float: right; color: #179c8c" (click)="EditLabModal(EditLabTriggerModel)"> edit </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</div>
<ng-template #EditLabTriggerModel let-modal>
  <div class="admin-modal" style="min-height: 410px">
    <br /><br /><br />
    <form [formGroup]="EditLabForm" style="padding: 30px; margin-top: -67px" (ngSubmit)="onSubmitEditLab()" novalidate autocomplete="off">
      <div class="modal-body">
        <div class="row">
          <div class="col-9 input-field">
            <label class="label" for="text">Name</label>
            <br />
            <input placeholder="Add hospitals name" id="name" formControlName="name" type="text" />

            <label class="label mt-3" for="text">Address</label>
            <br />
            <input placeholder="Add hospital address" id="name" formControlName="address" type="text" />
            <div class="row">
              <div class="col-6">
                <label class="label mt-3" for="text">Phone No</label>
                <br />
                <input placeholder="Add phone number" id="name" formControlName="phoneNumber" type="text" />
              </div>
              <div class="col-6">
                <label class="label mt-3" for="text">City</label>
                <br />
                <select formControlName="cityId" class="form-select rounded-pill mt-1" aria-label="Disabled select example">
                  <option [value]="city.cityId" selected class="dropdown-option" *ngFor="let city of cities">{{ city.name }}</option>
                </select>
              </div>
              <!-- <div class="col-6">
                <label class="label mt-3" for="text">Reception E-mail</label>
                <br />
                <input placeholder="Add e-mail" id="name" formControlName="name" type="text" />
              </div>
              <div class="col-6">
                <label class="label mt-3" for="text">Password</label>
                <br />
                <input placeholder="Add password" id="name" formControlName="name" type="text" />
              </div> -->
            </div>
            <div class="row">
              <div class="col-6 input-field mt-4">
                <label class="label" for="text">Opening Day</label>
                <br />
                <div class="mt-3">
                  <span class="day-name">Sun</span>
                  <span class="day-name">Mon</span>
                  <span class="day-name">Tue</span>
                  <span class="day-name">Wed</span>
                  <span class="day-name">Thu</span>
                  <span class="day-name" style="margin-left: 13px">Fri</span>
                  <span class="day-name" style="margin-left: 15px">Sat</span>
                </div>
                <section class="example-section">
                  <mat-checkbox class="example-margin" formControlName="sun"></mat-checkbox>
                  <mat-checkbox class="example-margin" formControlName="mon"></mat-checkbox>
                  <mat-checkbox class="example-margin" formControlName="tus"></mat-checkbox>
                  <mat-checkbox class="example-margin" formControlName="wed"></mat-checkbox>
                  <mat-checkbox class="example-margin" formControlName="thur"></mat-checkbox>
                  <mat-checkbox class="example-margin" formControlName="fri"></mat-checkbox>
                  <mat-checkbox class="example-margin" formControlName="sat"></mat-checkbox>
                </section>
              </div>
              <div class="col-6 input-field-small mt-4">
                <label class="label" for="text">Opening Time</label>
                <br />
                <div class="row mt-3">
                  <div class="col-6">
                    <div class="label-time">Start Time</div>
                    <input type="time" id="appt" name="appt" formControlName="openingTime" />
                  </div>
                  <div class="col-6">
                    <div class="label-time">End Time</div>
                    <input type="time" id="appt" name="appt" formControlName="closingTime" />
                  </div>
                </div>
                <div class="errorValdation" *ngIf="dateErrorMessage != ''">
                  {{ dateErrorMessage }}
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="input-field" style="float: right; margin-right: 20px">
              <label class="label" for="text">Image</label>
              <br />
              <input style="display: none" name="profile" type="file" (change)="onUpdateLabImage($event)" #image />
              <div class="d-pointer" style="position: relative"></div>
              <img src="{{ labImage }}" style="position: relative" class="model-image1 mt-1" height="150px" width="150px" *ngIf="labImageURL.length == 0" />
              <span *ngFor="let image of labImageURL"><img src="{{ image }}" style="position: relative" class="model-image1 mt-1" height="150px" width="150px" *ngIf="labImageURL.length != 0" /></span>
              <div class="camera-icon1" (click)="image.click()">
                <span class="material-icons" style="margin-top: 4px; margin-left: 4px; font-size: 20px"> photo_camera </span>
              </div>
            </div>
          </div>
          <div class="d-flex" style="margin-left: 75%; margin-top: 20px">
            <button type="button" (click)="CancelPopUp()" class="Add-button">Cancel</button>
            <button type="button" class="Add-button" style="background-color: gray; color: #fff; margin-left: 10px" *ngIf="!EditLabForm.valid">Save</button>
            <button type="button" class="Add-button" style="background-color: #179c8c; color: #fff; margin-left: 10px" *ngIf="Loading">Save <i class="fa fa-spinner fa-spin"></i></button>
            <button type="submit" class="Add-button" style="background-color: #179c8c; color: #fff; margin-left: 10px" *ngIf="EditLabForm.valid && !Loading">Save</button>
          </div>
        </div>
      </div>
    </form>
    <br /><br />
  </div>
</ng-template>
