/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
*{ -ms-overflow-style: none; }
*::-webkit-scrollbar { width: 0 !important; display: none; }
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Ubuntu, "Helvetica Neue", sans-serif; }
.d-pointer{
    cursor: pointer;
}