/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
*{ -ms-overflow-style: none; }
*::-webkit-scrollbar { width: 0 !important }
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.scss';

html, body { height: 100%; }
body { margin: 0; border: 1px solid black; font-family: Roboto, "Helvetica Neue", sans-serif; }
