<div class="fluid-container mt-4">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="table-header">Doctors</div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <button class="Add-button" (click)="AddDoctorModal(AddDoctorTriggerModel)">Add Doctor</button>
    </div>
  </div>

  <!-- Material table -->
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 mt-4" style="margin-bottom: 20px">
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef style="width: 40px" class="table-header-text"></th>
      <td mat-cell *matCellDef="let element; let i = dataIndex" class="address-text d-pointer" style="border-right: 1px solid #0000 !important">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>Edit</span>
          </button>
          <button mat-menu-item>
            <span>Delete</span>
          </button>
        </mat-menu>
      </td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef style="width: 100px" class="table-header-text">Image</th>
      <td mat-cell *matCellDef="let element" class="table-body-text-order d-pointer">
        <img src="./assets/navbar/blank-user.jpg" height="60px" width="60px" class="user-image" />
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="width: 150px" class="table-header-text">Name</th>
      <td mat-cell *matCellDef="let element" class="table-body-text" style="border-right: none">Dr. Irma</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef style="width: 150px" class="table-header-text">Department</th>
      <td mat-cell *matCellDef="let element" class="table-body-text color" style="border-right: none">Heart Surgeon</td>
    </ng-container>
    <ng-container matColumnDef="phoneNo">
      <th mat-header-cell *matHeaderCellDef style="width: 100px" class="table-header-text">Free</th>
      <td mat-cell *matCellDef="let element" class="table-body-text color">1,500</td>
    </ng-container>
    <ng-container matColumnDef="opening">
      <th mat-header-cell *matHeaderCellDef style="width: 150px" class="table-header-text">Experience</th>
      <td mat-cell *matCellDef="let element" class="table-body-text color">5 year</td>
    </ng-container>
    <ng-container matColumnDef="hospital">
      <th mat-header-cell *matHeaderCellDef style="width: 250px" class="table-header-text">Hospital</th>
      <td mat-cell *matCellDef="let element" class="table-body-text">Doctors in District Headquarters Hospital</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef style="width: 150px" class="table-header-text">Status</th>
      <td mat-cell *matCellDef="let element" class="table-body-text color">Available</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>

<ng-template #AddDoctorTriggerModel let-modal>
  <div class="admin-modal" style="min-height: 410px">
    <br /><br /><br />
    <form [formGroup]="AddDoctorForm" style="padding: 30px; margin-top: -67px" (ngSubmit)="onSubmitAddDoctor()" novalidate autocomplete="off">
      <div class="modal-body">
        <div class="row">
          <div class="col-10">
            <div class="row">
              <div class="col input-field">
                <label class="label" for="text">Name</label>
                <br />
                <input placeholder="Enter name" id="name" type="text" />
              </div>
              <div class="col input-field">
                <label class="label" for="text">Field</label>
                <br />
                <input placeholder="Enter field" id="name" type="text" />
              </div>
            </div>
            <div class="row mt-4">
              <div class="col input-field">
                <label class="label" for="text">Fee</label>
                <br />
                <input placeholder="Enter fee" id="name" type="text" />
              </div>
              <div class="col input-field">
                <label class="label" for="text">Experience</label>
                <br />
                <input placeholder="Enter your experience" id="name" type="text" />
              </div>
            </div>
            <div class="row mt-4">
              <div class="col input-field">
                <label class="label" for="text">Type</label>
                <br />
                <mat-form-field appearance="fill">
                  <mat-label>Cars</mat-label>
                  <select matNativeControl required>
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </form>
  </div>
</ng-template>
