.mat-mdc-menu-trigger{
    border: none !important;
    background-color: white !important;
    color: gray !important;
}

.table-body-text{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
}

.input-field input{
    height: 40px;
    padding: 18px;
    font-size: 20px;
    border-style: none;
    background: #FFFFFF;
    border: 1px solid #179C8C;
    padding-left: 20px;
    margin-top: 4px;
    padding-right: 20px;
    border-radius: 40px;
    outline: none;
}

.input-field label{
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}